let mapleader=","
map <silent> <leader>q :q!<CR>
map <silent> <leader>qa :qa!<CR>
map <silent> <leader>wq :wq<CR>
map <silent> <leader>d :Gdiff<CR>
map <silent> <C-k> 5k
map <silent> <C-j> 5j
imap jk <Esc>
imap kj <Esc>
